.App {
  text-align: center;
  background-color:green
}

.contentBox{border: black;
  flex: 1;
  margin-inline: 2000px;

}

.wechatBox{
  color: black;
  background-color: lightgreen;
  margin: 10px;

}
.react-calendar{
background-color: lightgreen!important;
align-self: auto!important;
margin: auto!important;
box-shadow:red;
padding: 10px;
box-shadow: 1px 2px;
}



.schedule {
  text-align: centers
}
